:root {
  --primary-color: #444;
  --background-color: #121212;
  --text-color: #ebebeb;
  --border-color: #ebebeb;
}
#hr-diagram {
  margin-top: -25px;
  width: 100svw;
  height: 98svh;
  position: relative;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: sans-serif;
}

nav {
  position: absolute;
  bottom: 60px;
  left: 220px;
  transform: translateX(-50%);
  gap: 0.3rem 1rem;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem;
}
@media (max-width: 800px) {
  nav {
    flex-direction: column;
    align-items: center;
    left: 200px;
  }
}

a {
  color: var(--text-color);
  border-radius: 5px;
  padding: 2px;
  text-align: center;
}

svg {
  background-color: var(--background-color);
  /* stroke: white; */
  fill: var(--text-color);
}

.btn-contact {
  font-size: 1rem;
}

.btn-contact,
.close-button {
  background-color: #444;
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 2px;
  /*  font-size: 0.8rem; */
}
.close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 1;
}

.modal {
  border-radius: 25px;
  color: var(--text-color);
  position: fixed;
  max-width: 60ch;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}
.modal::backdrop {
  background: rgb(0 0 0 / 0.4);
}

.modal a {
  color: var(--text-color);
}

.modal .contact-form {
  margin-top: 6px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1vh 1vw;
}
.contact-textarea {
  grid-column-start: 1;
  grid-column-end: 3;
}

.contact-button {
  grid-column-start: 1;
  grid-column-end: 3;
}

label[for="dropdown"] {
  color: var(--text-color);
  border-radius: 5px;
  padding: 5px;
  font-size: 0.7em;
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 1;
}

#dropdown {
  background-color: #444;
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 5px;
  font-size: 0.8rem;
  position: absolute;
  top: 40px;
  right: 20px;
  z-index: 1;
}

/* label[for="star-name-toggle"] {
  color: var(--text-color);
  border-radius: 5px;
  padding: 5px;
  font-size: 0.8em;
  position: absolute;
  top: 70px;
  right: 40px;
  z-index: 1;
}

#star-name-toggle {
  background-color: #444;
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 5px;
  font-size: 0.8rem;
  position: absolute;
  top: 73px;
  right: 20px;
  z-index: 1;
} */

/* Toggle Switch */

.container {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.dropdown {
  margin-bottom: 20px; /* Adjust as needed */
}
.switch {
  position: relative;
  display: inline-block;
  width: 49px; /* reduced from 60px */
  height: 22px; /* reduced from 34px */
  top: 70px;
  right: 55px;
  z-index: 1;
  font-size: 0.7rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 40px;
  right: -40px;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px; /* reduced from 26px */
  width: 16px; /* reduced from 26px */
  left: 2px; /* reduced from 4px */
  bottom: 3px; /* reduced from 4px */
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
